<nav id="navi">
    <div class="nav-wrapper">
      <img src="Logo.png" routerLink="/inicio" class="brand-logo">Logo
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/administracion/crear-personaC">Regitrar Usuario</a></li>
        <li><a routerLink="/administracion/crear-personaD">Registrar Usuario Dueño</a></li>
        <li><a routerLink="/parqueadero/reservacion">Lugar de Parqueo</a></li>
        <li><a routerLink="/seguridad/autenticar">Iniciar Sesion</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a routerLink="/administracion/crear-personaC">Regitrar Usuario</a></li>
      <li><a routerLink="/administracion/crear-personaD">Registrar Usuario Dueño</a></li>
      <li><a routerLink="/parqueadero/reservacion">Lugar de Parqueo</a></li>
      <li><a routerLink="/seguridad/autenticar">Iniciar Sesion</a></li>
  </ul>
