
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Servicios</h3>
                  <ul>
                      <li><a href="#">Diseño Web</a></li>
                      <li><a href="#">Back-End</a></li>
                      <li><a href="#">Bases De Datos</a></li>
                      <li><a href="#">Seguridad Informatica</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Github Del Equipo</h3>
                  <ul>
                      <li><a href="https://github.com/osanreag">Oscar Regino</a></li>
                      <li><a href="https://github.com/PolainFyon">Santiago Velasquez</a></li>
                      <li><a href="https://github.com/salviega">Santiago Viana</a></li>
                      <li><a href="#">Maria Jimena</a></li>
                      <li><a href="#">Juan David</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>I-Park</h3>
                  <p>Somos una Empresa especializada en el desarrollo de aplicaciones web para todo tipo de empresas con necesidades en la automatizacion de procesos y/o digitalizacion de procesos. </p>
              </div>
              <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-github"></i></a></div>
          </div>
          <p class="copyright">Proyecto MINTIC! 2021 © copyright</p>
      </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

